/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  padding: 10px;
  margin-bottom: 10px;
}

.form textarea {
  resize: vertical;
  min-height: 100px;
}

.form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.reviews {
  list-style-type: none;
  padding: 0;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.review h3 {
  font-size: 18px;
  margin: 0;
}

.review p {
  margin: 10px 0;
}

.review small {
  color: #888;
}

/* ... Existing CSS styles ... */

.form-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.form-textarea {
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  font-size: 16px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.review {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.review h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.review p {
  margin: 0;
  font-size: 16px;
}

/* ... Other CSS styles ... */
/* Custom Navbar Styles */
.custom-navbar {
  background-color: #FF00FF;

}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}

/* .custom-navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #003cff;
  border-radius: 5px;
} */

.custom-navbar .navbar-nav .active .nav-link {
  background-color: #003cff;
  border-radius: 5px;
}